  <section class="pagination flex justify-center gap-2">

    <article>
      <button
        class="page-link"
        [disabled]="currentPage() === 1"
        (click)="goToPage(currentPage() - 1)">
        Previous
      </button>
    </article>

    @for (page of pagesToDisplay(); track $index) {
      <article>
        <button
          class="page-link"
          [class.active]="currentPage() === page"
          [disabled]="page === '...'"
          (click)="goToPage(page)">
          {{ page }}
        </button>
      </article>
    }

    <article>
      <button
        class="page-link"
        [disabled]="currentPage() === totalPages()"
        (click)="goToPage(currentPage() + 1)">
        Next
      </button>
    </article>

  </section>

